recursive-include authenticator/
recursive-include tests/
include .flake8
include authenticator.py
include LICENCE
include pyproject.toml
include README.md
include requirements.txt
include requirements-dev.txt
include setup.py
include tox.ini
